<template>
  <div>
    <b-tabs v-model="currentTab" size="is-medium">
      <b-tab-item label="Trade">
        <div class="columns">
          <div class="column">
            <Position/>
            <Orders/>
          </div>
          <div class="column is-one-quarter">
            <Symbols/>
            <Price/>
            <Scalp/>
            <AccountInfo/>
            <Quotes/>
          </div>
        </div>
      </b-tab-item>
      <b-tab-item label="Open Position">
        <CreateRiskOrder/>
      </b-tab-item>
      <b-tab-item label="Market">
        <Market/>
      </b-tab-item>
      <b-tab-item label="History">
        <History/>
      </b-tab-item>
    </b-tabs>
  </div>
</template>

<style scoped>
.my-nav {
  border-bottom: 1px solid #ccc;
  margin-bottom: 1rem;
}
</style>

<script>
import CreateRiskOrder from '@/components/CreateRiskOrder.vue';
import History from '@/components/History.vue';
import Symbols from '@/components/Symbols.vue';
import Orders from '@/components/Orders.vue';
import Position from '@/components/Position.vue';
import AccountInfo from '@/components/AccountInfo.vue';
import Price from '@/components/Price.vue';
import Scalp from '@/components/Scalp.vue';
import Quotes from '@/components/Quotes.vue';
import Market from '@/components/Market.vue';
import { mapGetters } from 'vuex';

export default {
  name: 'Home',
  data: () => ({
    currentTab: 0,
  }),
  components: {
    AccountInfo,
    CreateRiskOrder,
    Orders,
    Position,
    Price,
    Symbols,
    History,
    Scalp,
    Quotes,
    Market,
  },
  computed: {
    ...mapGetters([
      'price',
      'markPrice',
    ]),
  },
  mounted() {
    this.$store.dispatch('getExchangeInfo');
    this.$store.dispatch('getAccountInfo');
    this.$store.dispatch('getOrders');
    this.$store.dispatch('getHistory');
  },
};
</script>
