// Import Bulma's core
@import "~nord/src/sass/nord.scss";

$grey: $nord4;
$grey-dark: darken($grey, 2.5%);
$grey-darker: darken($grey, 5%);
$grey-light: $nord5;
$grey-lighter: $nord6;
$grey-lightest: lighten($grey-lighter, 2.5%);

$border: $nord3;

$white: $nord2;

$cyan: $nord8;
$blue: $nord9;
$red: $nord11;
$orange: $nord12;
$yellow: $nord13;
$green: $nord14;
$purple: $nord15;

$primary: $nord9;
$background: $nord0;
$body-background-color: $nord0;
$table-background-color: $nord1;

$hr-background-color: $border;

$text: $nord6;
$light: $nord6;

// card
// $card-shadow: none;
$card-header-shadow: none;
$card-background-color: $nord1;
$card-header-background-color: lighten($nord1, 2.5%);
$card-header-color: $nord4;

$loading-background: rgba($nord2, 0.5);
