// Import Bulma and Buefy styles
@import "_variables";
@import "~bulma";
@import "~buefy/src/scss/buefy";

.tab-content {
  padding: 1rem 0 0 0 !important;
}
.tabs {
  ul, li + li {
    margin: 0;
  }
}
.card {
  border-radius: 5px;
}
.card-header {
  border-top-left-radius: 5px;
  border-top-right-radius: 5px;
}


.positionNew {
  padding-top: 0;
  padding-bottom: 0;
  .positionCol {
    padding: 0 0.75rem;
    @include from($desktop) {
      border-right: 1px dashed $nord3;
    }
  }
  .positionCol:last-child {
    border-right: none;
  }
  .itemNew {
    border-bottom: 1px dashed $nord3;
    padding: 0.5rem 0;
  }
  .itemNew:last-child {
    @include from($tablet) {
      border-bottom: none;
    }
  }
}

.item {
  text-align: center;
  margin-top: 0.75rem;
  padding-bottom: 0.75rem;
  border-bottom: 1px dashed $border;
}
.item:first-child {
  margin-top: 0;
}
.item:last-child {
  padding-bottom: 0;
  border-bottom: none;
}
.heading, .title {
  text-align: center;
}
.heading {
  margin-bottom: 0.25rem !important;
}

// .snackbar .action button {
//   background-color: $c1;
// }
// .snackbar .action button:hover {
//   background-color: lighten($c1, 5%);
// }
