<template>
  <Card title="Account Info" class="has-text-centered">
    <div class="item">
      <p class="heading">Wallet Balance</p>
      <p class="is-size-4 has-text-weight-semibold">${{ totalWalletBalance | round }}</p>
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    Card,
  },
  computed: {
    ...mapGetters(['totalWalletBalance']),
  },
};
</script>
