<template>
  <div class="card">
    <header class="card-header" v-if="title">
      <p class="card-header-title">
        {{ title }}
      </p>
      <a href="javascript:;" class="card-header-icon has-text-grey" @click="collapsed = !collapsed">
        <span class="icon">
          <b-icon :icon="collapsed ? 'chevron-up' : 'chevron-down'" size="is-small"></b-icon>
        </span>
      </a>
    </header>
    <div class="card-content" v-show="!collapsed">
      <div class="content">
        <slot/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: [
    'title',
  ],
  data: () => ({
    collapsed: false,
  }),
};
</script>

<style lang="scss" scoped>
.card {
  margin-bottom: 1.5rem;
}
</style>
