<template>
  <Card title="Open Position">
    <div class="columns is-tablet positionNew">
      <div class="column is-half positionCol">
        <Item>Short</Item>
        <Item title="Entry">{{ entry | round }}</Item>
        <Item title="Target">{{ left | round }}</Item>
        <Item title="Stop">{{ right | round }}</Item>
        <Item title="Quantity">{{ shortQuantity }}</Item>
        <Item title="Profit">
          {{ shortProfitPercent | round }}% &mdash; {{ shortProfit | round }}
        </Item>
        <Item title="Loss">
          {{ shortLossPercent | round }}% &mdash; {{ shortLoss | round }}
        </Item>
        <Item title="Leverage" :sclass="shortLeverageColor">{{ shortLeverage | round }}</Item>
        <Item title="Return Over Risk" :sclass="shortReturnOverRiskColor">
          {{ shortReturnOverRisk | round }}
        </Item>
      </div>
      <div class="column is-half positionCol">
        <Item>Long</Item>
        <Item title="Entry">{{ entry | round }}</Item>
        <Item title="Target">{{ right | round }}</Item>
        <Item title="Stop">{{ left | round }}</Item>
        <Item title="Quantity">{{ longQuantity }}</Item>
        <Item title="Profit">
          {{ longProfitPercent | round }}% &mdash; {{ longProfit | round }}
        </Item>
        <Item title="Loss">
          {{ longLossPercent | round }}% &mdash; {{ longLoss | round }}
        </Item>
        <Item title="Leverage" :sclass="longLeverageColor">{{ longLeverage | round }}</Item>
        <Item title="Return Over Risk" :sclass="longReturnOverRiskColor">
          {{ longReturnOverRisk | round }}
        </Item>
      </div>
    </div>

    <hr/>

    <b-field label="Entry">
      <b-input v-model="entry" expanded></b-input>
      <div class="control">
        <b-button icon-left="equal" :active="entryEqualCurrentPrice"
           @click="toggleAutoEntry" />
      </div>
      <div class="control">
        <b-button icon-left="plus" @click="plus" />
      </div>
      <div class="control">
        <b-button icon-left="minus" @click="minus" />
      </div>
    </b-field>

    <b-field label="Risk">
      <b-slider v-model="risk" :min="0.1" :max="10" :step="0.1"
                :custom-formatter="(val) => val + '%'"
                :tooltip="false"
                indicator></b-slider>
    </b-field>

    <b-field label="Range">
      <b-slider v-model="range" :min="-5" :max="5" :step="0.1"
                :custom-formatter="(val) => val + '%'"
                :tooltip="false" indicator></b-slider>
    </b-field>

    <!-- open position controls -->
    <div v-show="!hasOpenPosition()">
      <hr/>

      <b-message type="is-danger" v-show="error">
        {{ error }}
      </b-message>

      <b-field id="OpenRiskPosition">
        <div class="control is-expanded">
          <b-button label="Short" expanded outlined type="is-primary" @click="openShortPosition"/>
        </div>
        <div class="control is-expanded">
          <b-button label="Long" expanded outlined type="is-primary" @click="openLongPosition"/>
        </div>
      </b-field>
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';
import Item from '@/components/Item.vue';
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    risk: 5,
    entryRaw: 100.0,
    range: [-2.5, 2.5],
    entryEqualCurrentPrice: true,
    error: null,
  }),
  components: {
    Card,
    Item,
  },
  computed: {
    ...mapGetters(['hasOpenPosition', 'price']),
    right() {
      return this.entry * (1 + this.range[1] / 100);
    },
    left() {
      return this.entry * (1 + this.range[0] / 100);
    },
    entry: {
      get() {
        if (this.entryEqualCurrentPrice) {
          return this.$store.getters.price();
        }
        return this.entryRaw;
      },
      set(value) {
        this.entryEqualCurrentPrice = false;
        this.entryRaw = value;
      },
    },
    riskAmount() {
      return (this.$store.getters.availableBalance / 100) * this.risk;
    },
    shortQuantity() {
      return Math.round((this.riskAmount / Math.abs(this.entry - this.right)) * 1000) / 1000;
    },
    shortProfit() {
      return Math.abs((this.shortQuantity * this.entry) * (this.range[0] / 100));
    },
    shortProfitPercent() {
      return (this.shortProfit * 100) / this.$store.getters.availableBalance;
    },
    shortLoss() {
      return Math.abs((this.shortQuantity * this.entry) * (this.range[1] / 100));
    },
    shortLossPercent() {
      return (this.shortLoss * 100) / this.$store.getters.availableBalance;
    },
    shortLeverage() {
      return (this.entry * this.shortQuantity) / this.$store.getters.availableBalance;
    },
    shortLeverageColor() {
      if (this.shortLeverage > 3.01) {
        return 'has-text-danger';
      }
      if (this.shortLeverage > 2.01) {
        return 'has-text-warning';
      }
      return '';
    },
    shortReturnOverRisk() {
      return this.shortProfitPercent / this.shortLossPercent;
    },
    shortReturnOverRiskColor() {
      if (this.shortReturnOverRisk > 1) {
        return 'has-text-success';
      }
      if (this.shortReturnOverRisk < 0.5) {
        return 'has-text-danger';
      }
      return '';
    },
    longQuantity() {
      return Math.round((this.riskAmount / Math.abs(this.entry - this.left)) * 1000) / 1000;
    },
    longProfit() {
      return Math.abs((this.longQuantity * this.entry) * (this.range[1] / 100));
    },
    longProfitPercent() {
      return (this.longProfit * 100) / this.$store.getters.availableBalance;
    },
    longLoss() {
      return Math.abs((this.longQuantity * this.entry) * (this.range[0] / 100));
    },
    longLossPercent() {
      return (this.longLoss * 100) / this.$store.getters.availableBalance;
    },
    longLeverage() {
      return (this.entry * this.longQuantity) / this.$store.getters.availableBalance;
    },
    longLeverageColor() {
      if (this.longLeverage > 3.01) {
        return 'has-text-danger';
      }
      if (this.longLeverage > 2.01) {
        return 'has-text-warning';
      }
      return '';
    },
    longReturnOverRisk() {
      return this.longProfitPercent / this.longLossPercent;
    },
    longReturnOverRiskColor() {
      if (this.longReturnOverRisk > 1) {
        return 'has-text-success';
      }
      if (this.longReturnOverRisk < 0.5) {
        return 'has-text-danger';
      }
      return '';
    },
  },
  methods: {
    toggleAutoEntry() {
      this.entryRaw = this.entry;
      this.entryEqualCurrentPrice = !this.entryEqualCurrentPrice;
    },
    plus() {
      this.entry = Math.round(this.entry * 1.001);
    },
    minus() {
      this.entry = Math.round(this.entry / 1.001);
    },
    toastDanger(message) {
      this.$buefy.toast.open({
        message,
        type: 'is-danger',
      });
    },
    openShortPosition() {
      if (this.entry < this.price()) {
        this.toastDanger('Entry price cannot be lower than current price');
        return;
      }
      if (this.shortReturnOverRisk < 0.5) {
        this.toastDanger('Return Over Risk cannot be lower than 0.5');
        return;
      }
      if (this.shortLeverage > 3.01) {
        this.toastDanger('Leverage cannot be higher than 3');
        return;
      }
      this.openPosition('SHORT');
    },
    openLongPosition() {
      if (this.entry > this.price()) {
        this.toastDanger('Entry price cannot be higher than current price');
        return;
      }
      if (this.longReturnOverRisk < 0.5) {
        this.toastDanger('Return Over Risk cannot be lower than 0.5');
        return;
      }
      if (this.longLeverage > 3.01) {
        this.toastDanger('Leverage cannot be higher than 3');
        return;
      }
      this.openPosition('LONG');
    },
    openPosition(type) {
      const order = type === 'SHORT'
        ? {
          entry: this.entry,
          quantity: -this.shortQuantity,
          stop: this.right,
          target: this.left,
        }
        : {
          entry: this.entry,
          quantity: this.longQuantity,
          stop: this.left,
          target: this.right,
        };
      this.$store.dispatch('openPosition', order);
    },
  },
};
</script>
