<template>
  <section>
    <div class="columns is-tablet">
      <div class="column">
        <b-table :data="history" paginated :per-page="20">
          <b-table-column field="asset" label="Asset" v-slot="props">
            {{ props.row.asset }}
          </b-table-column>
          <b-table-column field="symbol" label="Symbol" v-slot="props">
            {{ props.row.symbol }}
          </b-table-column>
          <b-table-column field="incomeType" label="Income Type" v-slot="props">
            {{ props.row.incomeType }}
          </b-table-column>
          <b-table-column field="time" label="Time" v-slot="props">
            <b-tooltip :label="new Date(props.row.time).toString()">
              {{ props.row.time | time }}
            </b-tooltip>
          </b-table-column>
          <b-table-column field="income" label="Income" v-slot="props">
            <span :class="props.row.incomeType === 'REALIZED_PNL' ?
                          (props.row.income > 0 ? 'has-text-weight-bold has-text-success'
                                                : 'has-text-weight-bold has-text-danger')
                          : ''">
              {{ props.row.income | round }}
            </span>
          </b-table-column>
          <template v-slot:bottom-left>
            <b-button @click="refresh" icon-left="refresh">Refresh</b-button>
          </template>
        </b-table>
      </div>
      <div class="column is-one-quarter">
        <Card>
          <div class="positionNew">
            <Item title="Realized PNLs"
                  :sclass="realizedPnls > 0 ? 'has-text-success' : 'has-text-danger'">
              {{ realizedPnls | round }}
            </Item>
            <Item title="Commissions">
              {{ Math.abs(commissions) | round }}
            </Item>
            <Item title="Fundings">
              {{ Math.abs(fundings) | round }}
            </Item>
          </div>
        </Card>
      </div>
    </div>
  </section>
</template>

<script>
import Item from '@/components/Item.vue';
import Card from '@/components/Card.vue';
import { mapState } from 'vuex';
import moment from 'moment';

export default {
  data: () => ({
  }),
  components: {
    Card,
    Item,
  },
  computed: {
    ...mapState(['history']),
    realizedPnls() {
      return this.history.filter((i) => i.incomeType === 'REALIZED_PNL')
        .reduce((a, i) => a + parseFloat(i.income), 0);
    },
    commissions() {
      return this.history.filter((i) => i.incomeType === 'COMMISSION')
        .reduce((a, i) => a + parseFloat(i.income), 0);
    },
    fundings() {
      return this.history.filter((i) => i.incomeType === 'FUNDING_FEE')
        .reduce((a, i) => a + parseFloat(i.income), 0);
    },
  },
  filters: {
    time(value) {
      return moment(value).fromNow();
    },
  },
  methods: {
    refresh() {
      this.$store.dispatch('getHistory');
    },
  },
};
</script>
