<template>
  <div class="itemNew">
    <div class="columns is-mobile is-vcentered">
      <div class="column" v-if="title">{{ title }}</div>
      <div class="column is-size-4 has-text-weight-semibold" :class="computedClass">
        <slot/>
      </div>
    </div>
  </div>
</template>

<script>
export default {
  props: {
    title: String,
    left: Boolean,
    sclass: String,
  },
  computed: {
    computedClass() {
      let nclass = '';
      if (this.title) {
        nclass += ' has-text-right';
      }
      if (this.sclass) {
        nclass += ` ${this.sclass}`;
      }
      return nclass;
    },
  },
};
</script>
