<template>
  <Card class="login-card">
    <b-message type="is-danger" v-show="loginError">
      {{ loginError }}
    </b-message>

    <b-field label="API Key">
      <b-input v-model="apiOptions.key" type="text"></b-input>
    </b-field>

    <b-field label="API Secret">
      <b-input v-model="apiOptions.secret" password-reveal type="password"></b-input>
    </b-field>

    <b-field label="Options">
      <b-checkbox v-model="remember">Remember me</b-checkbox>
    </b-field>

    <b-field>
      <b-checkbox v-model="apiOptions.testnet">Testnet</b-checkbox>
    </b-field>

    <b-field>
      <b-button expanded @click="login" :loading="disableLoginButton">Login</b-button>
    </b-field>
  </Card>
</template>

<style scoped>
.login-card {
  max-width: 500px;
  margin: 3.5rem auto;
}
</style>

<script>
import Card from '@/components/Card.vue';

export default {
  data: () => ({
    apiOptions: {
      key: '',
      secret: '',
      testnet: false,
    },
    remember: false,
    disableLoginButton: false,
    loginError: null,
  }),
  components: {
    Card,
  },
  methods: {
    login() {
      this.disableLoginButton = true;
      this.$store.dispatch('login', this.apiOptions).then(() => {
        if (this.remember) {
          this.$store.dispatch('saveLoginOptions', this.apiOptions);
        }
      }).catch((e) => {
        this.loginError = e.response.data.msg;
        this.disableLoginButton = false;
      });
    },
  },
  mounted() {
    this.$store.dispatch('loadOptions').then((options) => {
      this.apiOptions.key = options?.key || '';
      this.apiOptions.secret = options?.secret || '';
      this.apiOptions.testnet = options?.testnet || false;
      this.remember = options.key !== '' && options.secret !== '';
      if (this.remember) {
        this.login();
      }
    }).catch(() => {});
  },
};
</script>
