<template>
  <div>
    <b-table
      :data="market"
      default-sort="percent"
      default-sort-direction="desc"
      paginated
      :per-page="20"
    >
      <b-table-column field="symbol" label="Symbol" sortable v-slot="props">
        {{ props.row.symbol }}
      </b-table-column>

      <b-table-column field="current" label="Price" sortable numeric v-slot="props">
        {{ props.row.current }}
      </b-table-column>

      <b-table-column field="percent" label="24hr Percent" sortable numeric v-slot="props">
        <span class="has-text-weight-semibold"
          :class="props.row.percent > 0 ? 'has-text-success' : 'has-text-danger'">
        {{ props.row.percent | round }}%
        </span>
      </b-table-column>

      <b-table-column field="high_percent" label="High Percent" sortable numeric v-slot="props">
        {{ props.row.high_percent | round }}%
      </b-table-column>

      <b-table-column field="low_percent" label="Low Percent" sortable numeric v-slot="props">
        {{ props.row.low_percent | round }}%
      </b-table-column>

      <b-table-column field="low_percent_diff" label="Low Percent Diff"
        sortable numeric v-slot="props">
        {{ props.row.low_percent_diff | round }}%
      </b-table-column>

      <b-table-column field="volume" label="Volume" sortable numeric v-slot="props">
        {{ Math.round(props.row.volume).toLocaleString() }}$
      </b-table-column>
    </b-table>
  </div>
</template>

<style lang="scss">
</style>

<script>
import { mapState } from 'vuex';

export default {
  computed: {
    ...mapState(['ticker']),
    market() {
      return Object.keys(this.ticker).map((p) => ({
        symbol: p,
        open: parseFloat(this.ticker[p].o),
        high: parseFloat(this.ticker[p].h),
        high_percent: ((this.ticker[p].h - this.ticker[p].c) * 100) / this.ticker[p].h,
        low: parseFloat(this.ticker[p].l),
        low_percent: ((this.ticker[p].c - this.ticker[p].l) * 100) / this.ticker[p].h,
        low_percent_diff: (((this.ticker[p].c - this.ticker[p].o) * 100) / this.ticker[p].o)
          - ((this.ticker[p].c - this.ticker[p].l) * 100) / this.ticker[p].h,
        current: parseFloat(this.ticker[p].c),
        percent: ((this.ticker[p].c - this.ticker[p].o) * 100) / this.ticker[p].o,
        volume: this.ticker[p].v * this.ticker[p].c,
      }));
    },
  },
};
</script>
