<template>
  <Card title="Orders">
    <b-tabs v-model="currentTab">
      <b-tab-item label="Open">
        <b-table :data="openOrders" v-if="openOrders.length > 0">
          <b-table-column v-for="(column, index) in columns"
                          :label="column.label"
                          :key="index"
                          v-slot="props">
            {{ props.row[column.field] }}
          </b-table-column>
          <b-table-column label="Price" v-slot="props">
            {{ props.row['price'] === '0' ? props.row['stopPrice'] : props.row['price'] }}
          </b-table-column>
          <b-table-column width="50" v-slot="props">
            <b-button size="is-small" @click="cancelOrder(props.row.orderId)"
                icon-left="close-thick"
                v-if="props.row.type !== 'STOP_MARKET' && props.row.type !== 'STOP'">
            </b-button>
          </b-table-column>
        </b-table>
        <span v-else>
          You don't have any open order.
        </span>
        <section v-show="!hasOpenPosition() && openOrders.length > 0">
          <hr/>
          <b-button @click="cancelAllOpenOrders">Cancel All Open Orders</b-button>
        </section>
      </b-tab-item>
      <b-tab-item label="Filled">
        <b-table :data="filledOrders" :columns="columns"></b-table>
      </b-tab-item>
      <b-tab-item label="Expired">
        <b-table :data="expiredOrders" :columns="columns"></b-table>
      </b-tab-item>
      <b-tab-item label="Cancelled">
        <b-table :data="cancelledOrders" :columns="columns"></b-table>
      </b-tab-item>
    </b-tabs>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';
import { ToastProgrammatic as Toast } from 'buefy';
import { mapGetters } from 'vuex';

export default {
  components: {
    Card,
  },
  data: () => ({
    currentTab: 0,
    columns: [
      { field: 'symbol', label: 'Symbol' },
      { field: 'origQty', label: 'Quantity' },
      { field: 'side', label: 'Side' },
      { field: 'type', label: 'Type' },
    ],
  }),
  computed: {
    ...mapGetters(['hasOpenPosition']),
    openOrders() {
      return this.$store.getters.orders('NEW');
    },
    cancelledOrders() {
      return this.$store.getters.orders('CANCELED');
    },
    filledOrders() {
      return this.$store.getters.orders('FILLED');
    },
    expiredOrders() {
      return this.$store.getters.orders('EXPIRED');
    },
  },
  methods: {
    cancelOrder(id) {
      const order = this.$store.getters.orders('NEW').find((o) => o.orderId === id);
      if (this.hasOpenPosition() && (order.type === 'STOP_MARKET' || order.type === 'STOP')) {
        Toast.open({
          message: 'You cannot cancel stop order',
          type: 'is-danger',
        });
        return;
      }
      this.$store.dispatch('cancelOrder', id);
    },
    cancelAllOpenOrders() {
      this.$store.dispatch('cancelAllOpenOrders');
    },
  },
};
</script>
