<template>
  <Card title="Position">
    <b-loading :is-full-page="false" :active="position() === undefined"></b-loading>
    <div v-if="position() && position().entryPrice > 0">
      <div class="columns is-tablet positionNew">
        <div class="column is-half positionCol">
          <Item title="Price">{{ price() }}</Item>
          <Item title="Entry">
            <b-icon :icon="position().positionAmt > 0 ? 'arrow-up-bold' : 'arrow-down-bold'"
                  size="is-small" class="mr-1"></b-icon>
            {{ position().entryPrice }}
          </Item>
          <Item title="Entry %">
            {{ Math.abs(position().entryPrice - price()) * 100 / price() | round }}%
          </Item>
          <Item title="UPNL" :sclass="upnl() > 0 ? 'has-text-success' : 'has-text-danger'">
            {{ Math.abs(upnl()) | round }}
          </Item>
          <Item title="UPNL %" :sclass="upnl() > 0 ? 'has-text-success' : 'has-text-danger'">
            {{ Math.abs(upnl()) * 100 / totalWalletBalance | round }}%
          </Item>
          <Item title="Quantity">
            {{ quantity }}
          </Item>
          <Item title="Leverage">
            {{ Math.abs(position().positionAmt) * position().entryPrice
               / totalWalletBalance | round }}
          </Item>
        </div>
        <div class="column is-half positionCol">
          <Item title="Close">
            <span v-if="closeOrder()">
              {{ closeOrder().price }}
            </span>
            <span v-else>&mdash;</span>
          </Item>
          <Item title="Stop">
            <span v-if="stopOrder()">
              {{ stopPrice }}
            </span>
            <span v-else>&mdash;</span>
          </Item>
          <Item title="Distance">
            <span v-if="closeOrder() || stopOrder()" :class="distance.color">
              {{ distance.distance | round }}%
            </span>
            <span v-else>
              &mdash;
            </span>
          </Item>
          <Item title="Projected Profit">
            <span v-if="closeOrder()">
              {{ profit | round }}
            </span>
            <span v-else>&mdash;</span>
          </Item>
          <Item title="Projected Loss">
            <span v-if="stopOrder()">
              {{ loss | round }}
            </span>
            <span v-else>&mdash;</span>
          </Item>
          <Item title="Amount">
            {{ amount | round }}
          </Item>
          <Item title="Liquidation">
            ?
          </Item>
        </div>
      </div>
      <div class="has-text-centered">
        <p>
          You have
          {{ side === 'SELL' ? 'sold' : 'bought' }}
          <strong>${{ amount | round }}</strong> worth of
          <strong>{{ symbol }} ({{ Math.abs(position().positionAmt) }})</strong>
          from <strong>{{ position().entryPrice | round }}</strong>.
          <br/>
          You need to {{ side == 'SELL' ? 'buy it below' : 'sell it above' }}
          entry price in order to close this position with profit.
        </p>
        <p v-if="closeOrder()">
          If
          <strong>{{ symbol }}</strong> value
          {{ side == 'SELL' ? 'drops' : 'raises' }}
          <strong>{{ closeDistancePercent | round }}%</strong>
          to <strong>{{ closeOrder().price }}</strong>:
          you will profit <strong>${{ profit | round }}</strong>.
        </p>
        <p v-if="stopOrder()">
          If
          <strong>{{ symbol }}</strong> value
          {{ side == 'SELL' ? 'raises' : 'drops' }}
          <strong>{{ stopDistancePercent | round }}%</strong>
          to <strong>{{ stopPrice }}</strong>:
          you will lose <strong>${{ loss | round }}</strong>.
        </p>
      </div>
    </div>
    <div v-else>
      You don't have an open position.
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';
import Item from '@/components/Item.vue';
import { mapGetters } from 'vuex';

export default {
  components: {
    Card,
    Item,
  },
  computed: {
    ...mapGetters([
      'symbol',
      'price',
      'position',
      'entryPrice',
      'upnl',
      'closeOrder',
      'stopOrder',
      'totalWalletBalance',
    ]),
    side() {
      return this.position().positionAmt < 0 ? 'SELL' : 'BUY';
    },
    stopPrice() {
      const stopOrder = this.stopOrder();
      if (!stopOrder) {
        return undefined;
      }
      return stopOrder.price === '0' ? stopOrder.stopPrice : stopOrder.price;
    },
    amount() {
      return Math.abs(this.position().positionAmt) * this.position().entryPrice;
    },
    summary() {
      const action = this.position().positionAmt < 0 ? 'sold' : 'bought';
      return `You have ${action} ${this.$store.state.symbol}`;
    },
    quantity() {
      return Math.abs(this.position().positionAmt);
    },
    profit() {
      return Math.abs(this.closeOrder().price - this.position().entryPrice) * this.quantity;
    },
    loss() {
      return Math.abs(this.stopPrice - this.position().entryPrice) * this.quantity;
    },
    closeDistancePercent() {
      return (Math.abs(this.price() - this.closeOrder().price) * 100) / this.price();
    },
    stopDistancePercent() {
      return (Math.abs(this.price() - this.stopPrice) * 100) / this.price();
    },
    distance() {
      const closePercent = this.closeOrder() ? this.closeDistancePercent : 100;
      const stopPercent = this.stopOrder() ? this.stopDistancePercent : 100;
      return closePercent <= stopPercent ? {
        distance: closePercent,
        color: 'has-text-success',
      } : {
        distance: stopPercent,
        color: 'has-text-danger',
      };
    },
  },
};
</script>
