<template>
  <Card class="has-text-centered">
    <div class="item">
      <p class="heading">{{ symbol }}</p>
      <p class="is-size-4 has-text-weight-semibold">${{ price() }}</p>
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';
import { mapGetters, mapState } from 'vuex';

export default {
  components: {
    Card,
  },
  computed: {
    ...mapState(['symbol']),
    ...mapGetters(['price']),
  },
};
</script>
