<template>
  <div class="mb-5">
    <div class="quote has-text-centered">
      “ {{ quote[0] }} ”
    </div>
    <div class="owner mt-2 has-text-right">
      &mdash; {{ quote[1] }}
    </div>
  </div>
</template>

<style lang="scss" scoped>
.quote {
  font-family: "Merriweather", "Georgia", serif;
}
</style>

<script>
const quotes = require('@/quotes.json');

export default {
  data: () => ({
    quotes,
    quote: ['', ''],
  }),
  components: {
  },
  methods: {
    randomQuote() {
      this.quote = this.quotes[Math.floor(Math.random() * this.quotes.length)];
    },
  },
  mounted() {
    this.randomQuote();
    setInterval(() => {
      this.randomQuote();
    }, 5 * 60 * 1000);
  },
};
</script>
