<template>
  <Card title="Scalp" v-show="!hasOpenPosition()">
    <div v-if="!hasOpenPosition()">
      <b-field label="EMA">
        <b-input v-model="entry"></b-input>
      </b-field>

      <b-field>
        <div class="control is-expanded">
          <b-button label="Short" expanded outlined type="is-primary" @click="order('SHORT')"/>
        </div>
        <div class="control is-expanded">
          <b-button label="Long" expanded outlined type="is-primary" @click="order('LONG')"/>
        </div>
      </b-field>
    </div>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';
import { mapGetters } from 'vuex';

export default {
  data: () => ({
    entry: null,
  }),
  components: {
    Card,
  },
  computed: {
    ...mapGetters(['hasOpenPosition', 'availableBalance', 'price']),
  },
  methods: {
    toastDanger(message) {
      this.$buefy.toast.open({
        message,
        type: 'is-danger',
      });
    },
    order(type) {
      const entry = parseFloat(this.entry);
      if (Number.isNaN(entry)) {
        this.toastDanger('Invalid entry price');
        return;
      }
      if (type === 'SHORT' && this.entry < this.price()) {
        this.toastDanger('Entry price cannot be lower than current price');
        return;
      }
      if (type === 'LONG' && this.entry > this.price()) {
        this.toastDanger('Entry price cannot be higher than current price');
        return;
      }

      // This is moslty taken from CreateRiskOrder
      const riskAmount = (this.availableBalance / 100) * 1;
      const left = this.entry * (1 + -0.5 / 100);
      const right = this.entry * (1 + 0.5 / 100);

      const order = type === 'SHORT'
        ? {
          entry: this.entry,
          quantity: -(Math.round((riskAmount / Math.abs(this.entry - right)) * 1000) / 1000),
          stop: right,
          target: left,
        }
        : {
          entry: this.entry,
          quantity: Math.round((riskAmount / Math.abs(this.entry - left)) * 1000) / 1000,
          stop: left,
          target: right,
        };
      console.log(order);
      this.$store.dispatch('openPosition', order);
    },
  },
};
</script>
