<template>
  <Card title="Order">
    <b-field label="Price">
      <b-input v-model="price"></b-input>
    </b-field>
    <b-field label="Quantity">
      <b-input v-model="quantity"></b-input>
    </b-field>

    <hr/>

    <b-field>
      <div class="control is-expanded">
        <b-button label="Short" expanded outlined type="is-primary" @click="order('SHORT')"/>
      </div>
      <div class="control is-expanded">
        <b-button label="Long" expanded outlined type="is-primary" @click="order('LONG')"/>
      </div>
    </b-field>
  </Card>
</template>

<script>
import Card from '@/components/Card.vue';

export default {
  data: () => ({
    price: 0,
    quantity: 0,
  }),
  components: {
    Card,
  },
  methods: {
    order(type) {
      this.$store.dispatch('limitOrder', {
        side: type === 'LONG' ? 'BUY' : 'SELL',
        price: this.price,
        quantity: this.quantity,
      });
    },
  },
};
</script>
