<template>
  <b-field class="symbols-field">
    <b-select expanded v-model="symbol">
      <option
        v-for="symbol in symbolsSorted"
        :value="symbol"
        :key="symbol">
      {{ symbol }}
      </option>
    </b-select>
  </b-field>
</template>

<style scoped>
.symbols-field {
  margin-bottom: 1.5rem !important;
}
</style>

<script>
import { mapGetters } from 'vuex';

export default {
  components: {
  },
  computed: {
    symbol: {
      get() {
        return this.$store.state.symbol;
      },
      set(value) {
        this.$store.dispatch('setSymbol', value);
      },
    },
    symbolsSorted() {
      const symbols = this.symbols.filter((s) => s.endsWith('USDT'));
      symbols.sort();
      return symbols;
    },
    ...mapGetters(['symbols']),
  },
};
</script>
