<template>
  <section class="section">
    <div class="container">
      <Home v-if="loggedIn && price() > 0"/>
      <LoginForm v-else/>
    </div>
  </section>
</template>

<script>
import { mapState, mapGetters } from 'vuex';
import LoginForm from '@/components/LoginForm.vue';
import Home from '@/views/Home.vue';

export default {
  components: {
    LoginForm,
    Home,
  },
  computed: {
    ...mapState([
      'loggedIn',
    ]),
    ...mapGetters([
      'price',
    ]),
  },
};
</script>
